[DEFAULT]
[api]
auth_strategy = keystone
[cors]
[keystone_authtoken]
auth_url = http://{{ groups['controller'][0] }}:5000/v3
memcached_servers = {{ groups['controller'][0] }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = placement
password = {{ placement_openstack_service_password }}
[oslo_middleware]
[oslo_policy]
[placement]
[placement_database]
connection = mysql+pymysql://placement:{{ placement_db_conf.db_user_password }}@{{ groups['controller'][0] }}/placement
[profiler]
